@model TravelBuddy.Models.Hotel

@{
    ViewData["Title"] = "HotelDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HotelDetails</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelGoogleRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelGoogleRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<div id="map"></div>
<style>
    #map{
        height:400px;
        width:100%;
    }
</style>
<script>
    function initMap() {
        var location = { lat: @Model.HotelLat, lng: @Model.HotelLng};
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });

    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=@ViewBag.ApiKeys&callback=initMap"></script>