@model IEnumerable<TravelBuddy.Models.Lodging>

@{
    ViewData["Title"] = "HotelList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HotelList</h1>

<p>
    <a asp-action="CreateHotel">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LodgingLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LodgingLng)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LodgingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDistance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Traveler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LodgingLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LodgingLng)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LodgingType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDistance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Traveler.Id)
            </td>
            <td>
                <a asp-action="EditHotel" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="HotelDetails" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

