@model IEnumerable<TravelBuddy.Models.Activity>

@{
    ViewData["Title"] = "RecommendationResultList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Recommendations From Other Travelers!</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityLat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityLng)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityLat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivityLng)
            </td>
            <td>
                <a asp-action="RecommendationDetails" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
