@model IEnumerable<TravelBuddy.Models.Lodging>

@{
    ViewData["Title"] = "TravelerLodging";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lodging</h1>

<p>
    <a asp-action="CreateLodging">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GoogleRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoogleRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="LodgingDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="DeleteLodging" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

